@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    /*background-color: #24252A;*/
    /*background-color: #A096D3;*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main_up{

    height: 100%;
    /*background-color: green;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.screens{
    padding-top: 4%;
    width: 45%;
    height: 100%;
    /*background-color: red;*/
}
li, a, button{
    font-family: "Montsserat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f1eded;
    text-decoration: none;
}

header{
    background-color: #24252A;;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    height: 60px;
    margin-right: auto;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #877fb8;
}

.cta button{
    padding: 9px 25px;
    background-color: #A096D3;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav__links button{
    padding: 9px 25px;
    background-color: #24252A;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color:#877fb8;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.logo-footer{
    height: 60px;
}
body{
    background: rgb(211,198,218);
    background: radial-gradient(circle, rgba(211,198,218,1) 0%, rgba(135,127,184,1) 100%);
    background-color: #877fb8;
    font-family: "Montsserat", sans-serif;
    margin: 0;
    display: grid;
    font-size: 14px;
}
.title{
    padding-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;

}
.title h3{
    font-size: 45px;

}
.container{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    /*background-color: red;*/
    justify-content: center;
}
.container p{
    font-size: 20px;
}
.children{
    height: 50%;
}

.left{
    text-align: center;
    padding-left:2%;
    width: 70%;
   /* background-color: green;*/
}
.right{
    width:30%;
   /* background-color: blue;*/
}


.right img{
    margin-left: 25%;
    width: 40%;
}


